body {
    font-family: sans-serif;
    background-color: #EEECEC;
    margin: 0px;
}

#navBar {
    width: 10%;
    height: 100%;
    margin: 0px;
    margin-top: -10%;
    padding: 0px;
    position: fixed;
    list-style-type: none;
    background-color: #3B3A3A;
    text-align: center;
}

#navBar a {
    display: block;
    padding: 10px;
    color: #E3E2E2;
    text-decoration-line: none;
}

#navBar a:hover {
    background-color: #888;
    color: #D8D7D7;
}

#ShoppingList, #addGroceries {
    margin-top: 10%;
    margin-left: 15%;
    border-collapse: collapse;
    background-color: #CDCACA;
    min-width: 400px;
    width: fit-content;
    padding: 10px;
    text-align: center;
}

thead {
    border: 1px solid #888;
}

td {
    border: 1px solid #888;
    padding: 10px;
    min-width: 75px;
    width: fit-content;
}

.price, .quantity, .subtotal, #totalCost {
    text-align: right !important;
}

#total, #totalCost {
    font-weight: bold;
    text-align: left;
}
